.comments {
    width: 100%;
    max-width: 561px;
}

.comments__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #767676;
    margin-bottom: 32px;
}

.comments__list {
    margin-bottom: 60px;
}

.comments__load-more {
    display: block;
    color: #fff;
    font-size: 16px;
    background: #313439;
    border: none;
    margin: 0 auto;
    width: 234px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.comments__load-more:hover {
    opacity: 0.7;
}

.comments__list-children {
    padding-left: 34px;
}

.comments__list-children .comment-item:not(:last-child) {
    margin-bottom: 32px;
}

.comments__list-item:not(:last-child) {
    margin-bottom: 32px;
}

.comments__list-children {
    margin-top: 32px;
}

.initial-loader {
    margin-top: 50px;
}

.initial-loader__spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #767676;
    border-top: 5px solid #ffffff;
    animation: loader-spinner 1s ease infinite;
}

@keyframes loader-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
